@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

html {
  max-height: 1520px;
}
body {
  font-family: 'Montserrat';
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
header {
  margin-top: 45px;
  max-width: 1244px;
  margin-left: auto;
  margin-right: auto;
}
.main__menu {
  display: flex;
  flex-direction: row;
  .margin__logo {
    padding: 0;
    width: 210px;
    height: 68px;
  }
  .align__nav {
    li a {
      color : black;
      text-decoration: none;
      font-size: 500;
      font-size: 24px;
      height: 34px;
      
    }
    .link__home {
      text-decoration: underline solid;
      width: 136px;
      margin-right: 57px;
      text-align: right;
    }
    .link__about {
      width: 116px; 
      text-align: right;
    }
   
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin-left: 721px;
  padding: 0;
  
  }  
}
main {
  max-width: 1240px;
}
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 209px;
  margin-top: 1195px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.logo__white {
  margin-top: 66px;
  margin-bottom: 28.5px;
}
.copyright {
  color: white; 
  margin-top: 0;
  margin-bottom: 29px;
  text-align: center;
  width: 513px;
  height: 46px;
  font-size: 24px;
  font-weight: 500;
}



